################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/bin/Debug/net8.0
/backend/obj/backend.csproj.nuget.g.props
/backend/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
