.ProfileCard {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  min-width: 35%;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
  position: relative;
}

.avatar {
  margin: 10px;
}

.details {
  width: 60%;
}

#editButton {
  position: absolute;
  top: 8px;
  right: 8px;
}
