/* .menu-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .category-section,
  .cuisine-section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .menu-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-card:hover {
    transform: translateY(-10px);
  }
  
  .menu-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .menu-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .menu-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .menu-card strong {
    font-weight: bold;
  }
   */
.modal-backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Apply blur effect */
  z-index: 1040; /* Ensure it is behind the modal */
}
